option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mooclet_engine/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mooclet_engine.settings.aws

packages:
  yum:
    git: []
    libxml2: []
    libxslt: []
    libxml2-devel: []
    libxslt-devel: []
    postgresql94-devel: []
    make: []
    gcc-c++: []
    gcc-gfortran: []
    python27-devel: []
    atlas-sse3-devel: []
    lapack-devel: []
    libpng-devel: []
    freetype-devel: []
    zlib-devel: []
    readline-devel: []
    R: [3.3.3]

container_commands:
  01_R_packages:
    command: "Rscript requirements.R"
    ignoreErrors: false
  02_static:
    command: "django-admin.py collectstatic --noinput"
    leader_only: true
  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true
#  02a_migrate_celery:
#    command: "django-admin.py migrate django_celery_results"
#    leader_only: true
  03_loaddata:
    command: "django-admin.py loaddata policy environment"
    leader_only: true
  04_pip_upgrade:
    command: /opt/python/run/venv/bin/pip install --upgrade pip
    ignoreErrors: false 
  05_AddGlobalWSGIGroupAccess: 
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"
  06wsgipass:
    command: "if ! grep -q 'WSGIPassAuthorization On' ../wsgi.conf ; then echo 'WSGIPassAuthorization On' >> ../wsgi.conf; fi;"
